/* styles for the index */

.front-container {
    grid-template-areas: 
        "header" "extra" "content" "footer";
}


.front-body {
    grid-area: content;
    display: grid;
    justify-self: center;
    max-width: 1200px;
}


.feed {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
    grid-area: feed;
}


/* feature article */

.feed-extra {
    grid-area: extra;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin: 1em;
    max-width: 800px;
    border: 5px solid var(--colour-highlight);
    border-radius: 2em;
    justify-self: center;
    background: linear-gradient(to right, 
    rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url("../static/images/the_bridge_at_argenteuil_1983.1.24.jpg") no-repeat;
    background-size: cover;
}


.extra-h2 {
    text-align: right;
}


.extra-h2 a {
    border: 0;
    color: black;
    background: linear-gradient(to right, white, white) no-repeat 0 23px/100% 100%;
    font-weight: 300;
    font-size: 1.5em;
}

.extra-p {
    background: white;
    padding: 0.4em;
}


.feed-extra > .extra-meta,
.extra-meta > p  {
    margin: 0;
}


.extra-h2 a,
.extra-img a {
    border: 0;
}


.extra-h2 a:hover {
    color: var(--colour-highlight);
}


.extra-img {
    max-height: 300px;
    max-width: 100%;
    overflow: hidden;
    display:none;
}


.extra-img img{
    max-width: 100%;
}


/* post preview boxes */


.post-preview {
    background: var(--bg-colour03);
    border: 5px solid var(--colour05);
    border-radius: 2em;
    padding: 1.2em;
    min-width: 150px;
    max-width: 450px;
    flex: 1;
    box-shadow: 9px 9px 0 0 rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}


.post-preview:hover {
    position: relative;
    top: 5px;
    left: 5px;
}


.preview-meta {
    font: 300 0.8em var(--font-other);
    display: inline-flex;
    min-width: 100%;
    justify-content: space-between;
    margin-top: auto;
    color: var(--colour-pale);
}


.preview-meta > p {
    margin-bottom: 0;
    margin-top: 2em;
}


.preview-meta a {
    color: var(--colour-pale);
}


.post-preview > h2 {
    font: italic 100 var(--font-large) var(--font-heading);
    text-align: right;
    margin: 0;
}


.post-preview > h2 a {
    border: 0;
    color: black;
    background: linear-gradient(to right, var(--colour02), var(--colour02)) no-repeat 0 23px/100% 100%;
    font-weight: 200;
}


.preview-img a,
.preview-img {
    border: 0;
}


.post-preview img {
    max-width: 100%;
}


.preview-subtitle > p {
    margin-bottom: 0;
}


 
@media(min-width:450px) {
    .post-preview{
        min-width: 250px;
    }
}


@media(min-width: 1100px) {
    .feed {
        justify-self: end;
    }
}


@media(min-width:1350px) {
    .front-body{
        grid-template-areas: "feed sidebar";
    }
}