.feed{
    grid-area: content;
    display: flex;
    gap: 2em;
    padding: 2em;
    flex-wrap: wrap;
    max-width: 900px;
    margin: auto;
}


.post-preview{
    background: var(--bg-colour03);
    border: 5px solid var(--colour-highlight);
    border-radius: 2em;
    overflow: hidden;
    padding: 1.2em;
    min-width: 150px;
    max-width: 450px;
    flex: 1;
    margin: auto;
    box-shadow: 9px 9px 0 0 rgba(0, 0, 0, 0.6);
}


.post-preview:hover{
    position: relative;
    top: 5px;
    left: 5px;
}


.preview-img{
    max-height: 220px;
    overflow: hidden;
}


.preview-meta{
    display: inline-flex;
    min-width: 100%;
    justify-content: space-between;
}


.post-preview > p{
    display: inline-flex;
    margin: auto;
}


.post-preview > h2{
    font-family: var(--font-heading);
    font-size: 2.5rem;
    text-align: right;
    font-weight: 100;
    font-style: italic;
    margin: 0;
}


.post-preview > h2 a{
    border: 0;
    color: white;
    background: var(--colour-highlight);
}


.post-preview > h2 a:hover{

}


.post-preview img{
    max-width: 100%;
}


@media(min-width:450px){
    .post-preview{
        min-width: 250px;
    }
}