@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); 

.post{
    grid-area: content;
    margin: auto;
}


/* heading */

.post-header{
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    gap: 2em;
    padding: 1em;
    background-color: var(--bg-colour03);
}


.post-header-img{
    flex-basis: 50%;
    padding: 0;
    margin: 0;
}


.post-header-img img{
    max-width: 100%;
}


.post-header-img > figcaption{
    color: var(--colour-pale);
    font-size: 0.8rem;
    font-style: italic;
}


.post-header-meta{
    flex-basis: 50%;
}


.post-header-meta > p{
    font-size: 0.9rem;
}


/* body */

.article-body{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1fr, 3);
    gap: 1.5em;
    margin: auto;
    padding: 1em;
    max-width: 800px;
    color: var(--colour01);
}


.article-body > p{
    max-width: 700px;
    margin: auto;
    grid-column: 1/4;
}


.article-body img{
    max-width: 100%;
}


.article-img{
    grid-column: 1/4;
    max-width: 100%;
    margin: 0;
    padding: 1em;
    background: var(--bg-colour03);
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: var(--colour02);
}


.article-img figcaption{
    text-align: center;
    font-family: var(--font-subtitle);
    font-style: italic;
    color: var(--colour-pale);
    padding-top: 1em;
}


.article-body .quote{
    grid-column: 1 / 4;
}

/* author bio */

.author-bio, .article-socials{
    max-width: 700px;
    margin: auto;
}


.author-bio{
    display: flex;
    flex-direction: row;
    background: var(--bg-colour03);
}


.author-icon{
    max-width: 100px;
    height: auto;
    clip-path: circle(30%);
}


/* socials */

.article-socials ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    padding: 0;
}


.socials-twitter::before{
    content: " ";
    background: url("../static/icons/icons8-twitter.svg") no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    vertical-align: text-bottom;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}


.socials-facebook::before{
    content: " ";
    background: url("../static/icons/icons8-facebook.svg") no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    vertical-align: text-bottom;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}


.socials-linkedin::before{
    content: " ";
    background: url("../static/icons/icons8-linkedin.svg") no-repeat;
    background-size: 25px 25px;
    display: inline-block;
    vertical-align: text-bottom;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* layout media queries */

@media(min-width:700px){
    .post-header{
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 2em;
        padding: 1em;
        max-width: 80%;
    }
    

    .post-header-meta > h2{
        background: var(--colour-highlight);
        margin-left: -60px;
        text-align: right;
    }


    .article-socials ul{
        flex-direction: row;
        justify-content: center;
    }


    .article-socials li:nth-child(n+2){
        padding-left: 1em;
    }

        
    .article-body .quote{
        grid-column: 1;
        margin-left: -50px;
    }


    .quote + p{
        grid-column: 2 / 4;
    }
}