@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); 

.post {
    grid-area: content;
    margin: auto;
}


/* heading */

.post-header {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    gap: 2em;
    padding: 1em;
    background-color: var(--bg-colour03);
}


.post-header-img {
    flex-basis: 50%;
    padding: 0;
    margin: 0;
}


.post-header-img img {
    max-width: 100%;
}


.post-header-img {
    font: italic 0.8rem var(--font-subtitle);
    color: var(--colour-pale);
}


.post-header-meta {
    flex-basis: 50%;
}


.post-header-meta > p {
    font-size: 0.9rem;
}


/* body */

.article-body {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(1fr, 3);
    gap: 1.5em;
    margin: auto;
    padding: 1em;
    max-width: 800px;
    color: var(--colour01);
}


.article-body > p {
    max-width: 700px;
    margin: auto;
    grid-column: 1/4;
}


.article-body img {
    max-width: 100%;
}


.article-img {
    font: italic 0.9em var(--font-subtitle);
    text-align: center;
    grid-column: 1/4;
    max-width: 100%;
    margin: 0;
    padding: 1em;
    background: var(--bg-colour03);
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: var(--colour02);
    color: var(--colour-pale);
    padding-top: 1em;
}


.article-body .quote {
    grid-column: 1 / 4;
}

/* author bio & socials */

.article-socials {
    max-width: 700px;
    margin: auto;
    background: var(--bg-colour03);
    display: flex;
    flex-direction: row;
    font-size: var(--font-small);
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.3em;
    border-radius: 10px;
}


.author-icon {
    max-width: 100px;
    height: auto;
    clip-path: circle(30%);
}

.article-socials ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-right: 1em;
}


.socials-button {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: solid 1px var(--colour-highlight);
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.socials-svg {
    width: 16px;
    height: 16px;
}


.socials-button:hover {
    background: var(--colour02);
}


/* post specific sidebar styles */
.post + .sidebar {
    align-self: center;
}



/* layout media queries */

@media(max-width: 600px) {
    .article-socials ul {
        flex-direction: column;
    }
}


@media(min-width:1000px) {
    .post-header{
        display: flex;
        flex-direction: row;
        margin: auto;
        gap: 2em;
        padding: 1em;
        max-width: 80%;
    }
    

    .post-header-meta > h2 {
        background: var(--colour-highlight);
        text-align: right;
    }

        
    .article-body .quote {
        grid-column: 1;
        margin-left: -50px;
    }


    .quote + p {
        grid-column: 2 / 4;
    }
}