@import "variables.css";
@import "layout_style.css";
@import "post_style.css";
@import "front_style.css";
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Hepta+Slab:wght@1..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: var(--bg-colour01);
    font: var(--font-base) var(--font-para);
    padding: 0;
    margin: 0;
}

/* links */

a {
    text-decoration: none;
    color:black;
    border-bottom: 2px solid var(--colour-highlight);
}


a:hover {
    color: var(--colour-highlight);
}


/* blockquotes */

blockquote {
    background: var(--bg-colour03);
    border-radius: 10px;
    padding: 0.5em;
    color: var(--colour05);
    font-family: var(--font-heading);
    font-weight: 300;
    text-decoration-line: underline;
    text-decoration-color: var(--colour02);
}


blockquote p {
    margin: 0;
}


blockquote p::before {
    content: '\201C';
}


blockquote p::after {
    content: '\201D';
}


blockquote + p {
    text-align: right;
    font-size: var(--font-small);;
    padding: 0.5em;
    color: var(--colour05);
}


blockquote + p::before {
    content: "— ";
}


/* headings */

h1 {
    font: bold var(--font-larger) var(--font-heading);
    color: var(--colour-highlight);
    text-transform: uppercase;
    text-align: left;
}


h2 {
    font: 400 var(--font-large) var(--font-heading);
    letter-spacing: 0.08rem;
    font-style: italic;
}


h3 {
    font: bold 1.4em var(--font-heading);
    margin: 0;
}


/* forms */

.subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


input[type=text] {
    font-family: var(--font-para);
}


input[type=text], input[type=submit] {
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: var(--font-base);
}


input[type=submit] {
    background-color: var(--colour02);
    font-family: var(--font-other);
}


input[type=submit]:hover {
    background-color: var(--colour-highlight);
}


/* general text styling */

::-moz-selection { 
    background: var(--colour02);
    color: var(--colour04);
}


::selection {
    background: var(--colour02);
    color: var(--colour04);
}


p {
    line-height: 1.45em;
}


i {
    font-family: "Roboto Slab", serif;
    letter-spacing: 0.1em;
}


u {
    text-decoration-color: var(--colour02);
    text-decoration-thickness: 2px;
}