:root{
    --font-heading: "Roboto Slab", serif;
    --font-subtitle: "Hepta Slab", serif;
    --font-para: "Montserrat", sans-serif;
    --font-other:  "Grandstander", cursive;

    --bg-colour01:#fff9ed;
    --bg-colour02:#000000;
    --bg-colour03:#ffffff;

    --font-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
    --font-large: 1.8em;
    --font-larger: 2.4em;
    --font-small: 0.8em;
    --font-smaller: 0.7em;

    --colour01: rgb(124, 88, 17);
    --colour02:rgb(225, 187, 255);
    --colour03:rgb(0, 0, 0);
    --colour04: rgb(120, 67, 160);
    --colour05: rgb(71, 52, 165);
    --colour-highlight: rgb(183, 96, 255);
    --colour-pale: rgb(116, 116, 116);
}
